.listContainer {
  width: 90%;
  max-height: 80vh; /* Set an appropriate maximum height */
  overflow-y: auto;
}

.projectContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  overflow-x: hidden;
}

.listContainer::-webkit-scrollbar {
  width: 0;
}
