.updatesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.listContainer {
  margin-top: 1rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  overflow-y: auto;
  max-height: 70vh;
}

.cardList {
  width: 100%;
}

.listContainer::-webkit-scrollbar {
  width: 0;
}

/* .nav {
  margin-bottom: 2rem;
} */

.nav ul {
  list-style: none;
  display: flex;
  border-radius: 7px;
}

.nav a:link,
.nav a:visited {
  display: block;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem 2rem;
  border-radius: 5px;
}

/* CSS Modules feature */
.nav a:global(.active) {
  background-color: rgba(0, 0, 0, 0.154);
}
